@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  font-family: 'Roboto', sans-serif;
}

html, body{
  color: #172b4d;
  font-size: 14px;
    font-weight: 400;
    line-height: 20px;   
    height: 100vh;
    background-color: #4d4eab; 
}

.App {
  text-align: center;  
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  margin: 15px;  
}

.header .main-title {
  color: #ebecf0;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer .footer-title {
  margin: 0;
  padding: 5px 5px 15px 5px;
  color: #ebecf0;
}

.app-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  flex-basis: 100%;
}
.svg-icon {
  width: 1em;
  height: 1em;
  font-size: 25px;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #172b4d;
}

.svg-icon circle {
  stroke: #172b4d;
  stroke-width: 1;
}

@media(min-width: 992px){
  .app-container{
    flex-direction: row;
    align-items: flex-start;
  }
}